extends layout

block content
  h1 #{title}
  p 
    a(href="/") Home
    |  > 
    a(href="/admin/users") Users
  br
  br
  div.con-mid(style="width: 100%; overflow-x: auto;")
    table(class="table datatables" id="myTable")
      thead 
        tr
          th ID
          th Name
          th Username
          th Verification 
          th Actions
      tbody
        each val in all
          if val.role == 'vptiev1oag'
            tr(style="color: red;")
              td(style="text-align: left;") #{val._id}
              td(style="text-align: left;") #{val.name}
              td(style="text-align: left;") #{val.username}
              td(style="text-align: left;") #{val.verification}
              td 
                form(action="/admin/del-user" method="post")
                  input(type="hidden" name="username" value=val.username)
                  button(type="submit" class="btn btn-danger") Remove
          else 
            tr
              td(style="text-align: left;") #{val._id}
              td(style="text-align: left;") #{val.name}
              td(style="text-align: left;") #{val.username}
              td(style="text-align: left;") #{val.verification}
              td 
                form(action="/admin/del-user" method="post")
                  input(type="hidden" name="username" value=val.username)
                  button(type="submit" class="btn btn-danger") Remove
      
  div(class="container" style="padding: 20px 10px 50px 10px;")
    div.legal(style="text-align: center;") Copyright ©2021 Star Party | Sri Lanka
      sup ®
          br
      |*A 
      a(href="https://en.wikipedia.org/wiki/Carbon_neutrality" target="_blank" style="text-decoration: none;")
        span.carbon-link carbon neutral 
      |platform